<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store_Setup_Basket</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <!-- <link href="assets/css/bootstrap.min.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-8 col-sm-offset-2">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" id="wizard">
		                	<form action="" method="">
		                
		                    	<div class="wizard-header">
		                        	<h4 class="wizard-title" style="text-align:center;font-weight:600" id="bottomspace">Welcome to Cadenza 	Setup</h4>
		                    	</div>
								<div class="wizard-navigation">
									<div class="progress-with-circle">
									    <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
									</div>
									<ul>
			                            <li>
			                            	<div class="productone">
			                            		<div class="producticon">
				                            		<img src="assets/img/store_setup/barcode-product-wt.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#" onclick="location.href='store_setup_product.html';" data-toggle="tab" id="productlink">
												<div class="icon-circle">
													<!-- <i class="ti-map"></i> -->
												</div>
												Product
											</a>
										</li>
			                            <li  class="active">
			                            	<div id="basketone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/picnic.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="baskettwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/picnic-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>

											<a href="#basket" onclick="location.href='store_setup_basket.html';" data-toggle="tab" id="basketlink">
												<div class="icon-circle">
													<!-- <i class="ti-direction-alt"></i> -->
												</div>
												Basket
											</a>
										</li>
			                            <li>
			                            	<div id="planone">
			                            		<div class="planicon">
				                            		<img src="assets/img/store_setup/strategy.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="plantwo">
			                            		<div class="plantwoicon">
				                            		<img src="assets/img/store_setup/strategy-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#plan" onclick="location.href='store_setup_plan.html';" data-toggle="tab" id="planlink">
												<div class="icon-circle">
													<!-- <i class="ti-panel"></i> -->
												</div>
												Plan
											</a>
										</li>
			                            <li>
			                            	<div id="paymentone">
			                            		<div class="basketicon">
				                            		<img src="assets/img/store_setup/credit-card.png" alt="product">
				                            	</div>
				                            	<div class="bottomtiptwo">&nbsp;</div>
			                            	</div>
			                            	<div id="paymenttwo">
			                            		<div class="baskettwoicon">
				                            		<img src="assets/img/store_setup/credit-card-2.png" alt="product">
				                            	</div>
				                            	<div class="bottomtip">&nbsp;</div>
			                            	</div>
											<a href="#payment" onclick="location.href='store_setup_payment.html';" data-toggle="tab" id="paymentlink">
												<div class="icon-circle">
													<!-- <i class="ti-comments"></i> -->
												</div>
												Payment
											</a>
										</li>
			                        </ul>
								</div>
		                        <div class="tab-content">
		                            
		                            <!-- BASKET STARTED HERE -->
		                            <div class="tab-pane active"  id="basket">
		                                <div class="col-sm-12">
	                                    	<div class="wizard-header">
					                        	<h4 class="wizard-title" style="text-align:center;">Setup your first Subscription Bundle</h4>
					                        	<p class="category">These details are visible to your consumers</p>
					                    	</div>
	                            		</div>

										<div class="col-sm-12">
											<div class="col-sm-3">
												<!-- <h5 class="info-text"> Please tell us more about yourself.</h5> -->
													<div class="col-sm-12">
														<div class="picture-container">
															<div class="picture">
																<img src="assets/img/default-avatar.jpg" class="picture-src" id="wizardPicturePreview" title="" />
																<input type="file" id="wizard-picture">
															</div>
															<h6>Choose Picture</h6>
														</div>
													</div>
											</div>
											<div class="col-sm-5">
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="exampleInputEmail1" value="Subscription Name">
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="exampleInputEmail1" value="Subscription Description">
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="exampleInputEmail1" value="Subscription SKU">
								                	</div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-8">
						                                        <div class="form-group">
						                                            <label style="top: 10px;position: relative;">Re-order Schedule : Every</label>
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-4">
						                                    	<input type="text" class="form-control" value="1" style="text-align:center;">
						                                    </div>
						                                </div>
					                                </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                    	<input type="text" class="form-control" id="exampleInputEmail1" value="Products in Subscription">
								                	</div>
												</div>
											</div>
											<div class="col-sm-4">
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
						                                            <input type="checkbox" name="subscription" value="check" style="left:0px">
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Featured Subscription</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
						                                            <input type="checkbox" name="subscription" value="check" style="left:0px">
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Shipping Free</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="row">
														<div class="col-sm-12">
															<div class="col-sm-1">
						                                        <div class="form-group">
						                                            <input type="checkbox" name="subscription" value="check" style="left:0px">
						                                        </div>
						                                    </div>
						                                    <div class="col-sm-11" style="max-width:85%; text-align:left;">
						                                    	<label style="text-align:left;">Free Trail</label>
						                                    </div>
						                                </div>
						                            </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                        <select name="country" class="form-control">
								                            <option disabled="" selected="">Free Trail Days</option>
								                            <option value="Afghanistan">1</option>
								                            <option value="Albania"> 2</option>
								                            <option value="Algeria">3 </option>
								                            <option value="...">...</option>
								                        </select>
								                    </div>
												</div>

												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
								                        <select name="country" class="form-control">
								                            <option disabled="" selected=""> Month </option>
								                            <option value="Afghanistan"> 1 </option>
								                            <option value="Albania"> 2 </option>
								                            <option value="Algeria"> 3 </option>
								                            <option value="...">...</option>
								                        </select>
								                    </div>
												</div>
												<div class="choice" data-toggle="wizard-checkbox">
													<div class="form-group">
														<div class="tooltipinfo"> 
															<a class="toolindex">?</a>
															<div class="toolinfobasket">Stuff shown on hoverStuff shown on hoverStuff shown on hoverStuff shown on hover</div>
														 </div>
								                    </div>
												</div>



											</div>
										</div>
		                            </div>
		                            <!-- BASKET END HERE -->
		                        </div>



		                        <div class="wizard-footer" id="prenextlinksid">
		                        	<div class="prenextlinks">
		                        		<div class="previouslink"><a href="store_setup_product.html">Back</a></div>
		                        		<div class="nextlink"><button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal" id="openpopup">Next</button></div>
		                        	</div>
		                        </div>

		                        <!-- MOdal starts here -->  
								<div class="modal fade" id="myModal" role="dialog">
								    <div class="modal-dialog">
								      <!-- Modal content-->
								      <div class="modal-content">
								        <div class="modal-header">
								          <button type="button" class="close" data-dismiss="modal">&times;</button>
								          <h4 class="modal-title">Your Basket is successfully added</h4>
								        </div>
								        <div class="modal-body">
								          <p>Would you like to add one more Basket?</p>
								        </div>
								        <div class="modal-footer">
								          <button type="button" class="btn btn-default" data-dismiss="modal">Yes</button>
								          <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
								        </div>
								      </div>
								    </div>
								</div>
		                        <!-- Modal ends here -->


		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	    
	</div>

</body>

	<!--   Core JS Files   -->



	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>


	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>

	<style type="text/css">
		.wizard-card[data-color="green"] .nav-pills > li.active > a:after {background-color: #fec63d;}

	</style>

	<script>
		$(document).ready(function(){			
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").hide();	

			//$("#paymentone").show();
			$("#paymenttwo").hide();	
		});
	</script>

	<style type="text/css">
		.modal-backdrop {position: relative;}
		.modal-content {background-color: #fbfbfb;    top: 100px;}
	</style>

</html>
