<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
	<link rel="icon" type="image/png" href="assets/img/favicon.png" />
	<title>Store Details</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!-- CSS Files -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="assets/css/styles.css" rel="stylesheet" />

	<!-- Fonts and Icons -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="image-container set-full-height">
	    
	    <div class="header">
		    <div class="logosection">	    	
			    <a href="#"><img src="assets/img/new_logo.png"></a>
		    </div>
	    </div>
		

	    <!--   Big container   -->
	    <div class="container">
	        <div class="row">
		        <div class="col-sm-6 col-sm-offset-3">
		            <!--      Wizard container        -->
		            <div class="wizard-container">
		                <div class="card wizard-card" data-color="green" >
		                	<form  method="POST">
		                    	<div class="wizard-header1">
		                        	<h4  style="text-align:center;font-weight:600">Store Details</h4>
		                        	<p>&nbsp;</p>
		                    	</div>
		                    	<div class="row">	
		                                    <div class="col-sm-10 col-sm-offset-1">
														<div class="row">
															<div class="col-sm-12">
																
							                                <div class="col-sm-12">

																	<div class="form-group">
																			<input type="hidden" class="form-control" id="fname" value="" name="username">
																			<input type="hidden" class="form-control" id="lname" value="" name="lname">
																		
																			<input type="hidden" class="form-control" id="email" value="" name="email">
																			<input type="hidden" class="form-control" id="password" value="" name="password">
																			<input type="hidden" class="form-control" id="cpassword" value="" name="cpassword">
																				
																	</div>	

									                                <div class="row">
									                                	<div class="col-sm-12">
									                                    	<input type="text" class="form-control" id="storeName"placeholder="Store Name" name="storeName">
									                                    </div>
									                                </div>
									                                <br>
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<input type="text" class="form-control" placeholder="Store URL">
									                                    </div>
									                                </div>
									                                <br>
									                                <div class="row">
									                                    <div class="col-sm-12">
									                                    	<input type="text" class="form-control" placeholder="Billig Address">
									                                    </div>
									                                </div>
									                                <br>

									                                <div class="row">  
									                                	<div class="col-sm-12">            	
										                                		<div class="storesetp">Store Type</div>
										                                	</div>
										                                </div>
										                            </div>
										                            <br>

									                                <div class="row">               	
									                                    <div class="col-sm-12">
																			<div class="col-sm-1">
										                                        <div class="form-group">
										                                            <input type="radio" name="subscription" value="" style="position: relative;left:15px;z-index:0;">
										                                        </div>
										                                    </div>
										                                    <div class="col-sm-11">
										                                    	<label style="text-align:left;">Signup for PayTM</label>
										                                    </div>
										                                </div>
									                                </div>
									                                <div class="row">
									                                    <div class="col-sm-12">
																			<div class="col-sm-1">
										                                        <div class="form-group">
										                                            <input type="radio" name="subscription" value="" style="position: relative;left:15px;z-index:0;">
										                                        </div>
										                                    </div>
										                                    <div class="col-sm-11">
										                                    	<label style="text-align:left;">Signup for PayTM</label>
										                                    </div>
										                                </div>
									                                </div>


									                                

									                                <div class="row">
									                                	<input type="submit" id="adduser" name="submit" class="submitlink" value="Create">
									                                </div>

									                                <div class="row">
									                                	<div class="termsconditions"><a href="store_details.html">I have read Terms & Conditions.</a></div>
									                                </div>

								                                </div>

							                                </div>

							                                

							                                

							                            </div>

		                                    </div>
		                                </div>
		                     
		                	</form>
		                </div>
		            </div> <!-- wizard container -->
		        </div>
	        </div> <!-- row -->
	    </div> <!--  big container -->

	<p style="display:none;" id="fid"><%=fname %></p>
    <p style="display:none;" id="uid"><%=lname%></p>
	<p style="display:none;" id="eid"><%=email %></p>
	<p style="display:none;" id="pid"><%=pwd %></p>
    <p style="display:none;" id="cpid"><%=cpwd %></p>
	
	</div>

</body>

	<!--   Core JS Files   -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" type="text/javascript"></script>	
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap-wizard/1.2/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="assets/js/paper-bootstrap-wizard.js" type="text/javascript"></script>	
	<script src="assets/js/jquery.validate.min.js" type="text/javascript"></script>
	

	<script>
		$(document).ready(function(){
			$("#fname").val($("#fid").html());
			$("#lname").val($("#uid").html());
			$("#email").val($("#eid").html());
			$("#password").val($("#pid").html());
			$("#cpassword").val($("#cpid").html());
			$("#adduser").click(function(e){
					e.preventDefault();
			var user= new Object();
			user.username=$('#fname').val();
			user.email=$('#email').val();
			user.password=$('#password').val();
			user.cpassword=$("#cpassword").val();
			user.storeName=$("#storeName").val();
			console.log("user:"+ user);
			$.ajax({
					  type:'POST',
					  url:'/signup',
					  data:user,
					  dataType:'json',
					  success:function(res){
						console.log(res);
						if(res.status=="success")
						{
							// window.localStorage.setItem('token', res.token);
							// window.localStorage.setItem('storeName', res.storeName);
							// console.log("local storage value : "+window.localStorage.getItem('token'));
							//const url="http://admin."+data.storeName+".serverless9.com/store_setup";
							//console.log("url" + url);
							alert(res.message);
							//window.location="/signin";
						}
					  },
					  error:function(jqXHR, textStatus, errorThrown){
					  alert('error: ' + textStatus + ': ' + errorThrown);
					  console.log(errorThrown);
					  }
					});
			//$("#basketone").show();
			$("#baskettwo").show();

			//$("#planone").show();
			$("#plantwo").show();	

			//$("#paymentone").show();
			$("#paymenttwo").show();	
		});
	});
	</script>	
</html>
